%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Role
      %th Status
      %th
  %tbody
    - @community_memberships.each do |m|
      %tr
        %td= m.community.to_label
        %td= m.role&.to_label
        %td= m.status_label
        %td= render partial: 'shared/crud_actions', locals: { model: m.community }
