- memberships ||= []
%table.table.table-bordered
  %tbody
    - memberships.each do |m|
      - target = m.gamer_in_team? ? m.team : m.community
      %tr
        %td
          %strong= team_or_community_label(target)
        %td= m.role.to_label
        %td= m.status
        %td= render partial: 'shared/crud_actions', locals: { model: target }
