- model ||= nil
.btn-group
  - if policy(model).show?
    = link_to fa_icon('eye'), polymorphic_path(model), class: 'btn btn-default'
  - if policy(model).update?
    = link_to fa_icon('edit'), edit_polymorphic_path(model), class: 'btn btn-default' 
  - if policy(model).destroy?
    = link_to fa_icon('trash'), polymorphic_path(model), method: :delete, class: 'btn btn-danger'
