.page-header
  %h1
    Events
    .pull-right
      = link_to 'New', new_event_path, class: 'btn btn-primary'
%table.table
  %thead
    %tr
      %th Description
      %th Type
      %th Status
      %th Privacy
      %th Starts at
      %th Ends at
      %th Duration
      %th Created at
      %th Updated at
  %tbody
    = render @events
