.jumbotron
  .text-center
    %h1 Gaming Base
    %p
      = "Organize Massive Multiplayer Online communities like never before, for <u>free</u>.".html_safe
    %p.text-success
      = "Made with #{fa_icon('heart')} for gamers by gamers.".html_safe
    %p.text-primary
      Public Beta coming soon.
.row
  .col-md-4
    .panel.panel-success
      .panel-heading
        %h4.panel-title Organize community and/or team
      .panel-body
        %h6.text-muted Efficiently manage all your community and/or team needs.
      %ul.list-group
        %li.list-group-item Manage events
        %li.list-group-item Collect statistics and data
        %li.list-group-item Compare and find others
  .col-md-4
    .panel.panel-info
      .panel-heading
        %h4.panel-title Find gamers to play your favourite games
      .panel-body
        %h6.text-muted It's easy to find perfect partners for your favourite games.
      %ul.list-group
        %li.list-group-item Smart filters
        %li.list-group-item Make friends in process
        %li.list-group-item Form or join team with favourite ones
  .col-md-4
    .panel.panel-warning
      .panel-heading
        %h4.panel-title Integration with social and gaming services
      .panel-body
        %h6.text-muted Connect and use most of your existing services and data.
      %ul.list-group
        %li.list-group-item Easily connect services
        %li.list-group-item Collect and synchronize data
        %li.list-group-item Agile privacy settings
