%table.table
  %thead
    %tr
      %th Username
      %th Description
      %th Friendly ID
      %th First name
      %th Last name
      %th Date of Birth
      %th Verified
      %th Created at
      %th Updated at
  %tbody
    = render @gamers
